@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');



html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: lightgray;
}

.navbar {
    background-color: skyblue;
    padding: 0 8%;
    width: 100%;
}

    .navbar .navbar-brand {
        font-weight: bolder;
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left:auto;
    }

        .navbar .navbar-brand img{
            height: 3em;
            margin-right: .5em;
        }

    .navbar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.content {
    flex: 1;
    padding: 1% 5%;
}

    .content h1{
        text-align: center;
    }

.nav-item {
    margin-right:1%;
}

    .nav-item a {
        border-radius: 4px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
        }

.navbar-nav {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

    .navbar-nav .nav-link{
        padding-left: 1em;
        padding-right: 1em;
    }

.jumbotron p{
    margin-bottom: 0;
}

.resizable {
    width: 100%;
    height: 30em;
}

    .resizable iframe{
        width: 100%;
        height: 100%;
    }

@media(max-width: 400px){
    .navbar .navbar-nav{
        flex-direction: column;
    }
}

.card{
    padding-left: 0;
    padding-right: 0;
}

    .card .card-header{
        font-weight: bold;
    }

.carimg{
    max-height: 1080px;
    width: auto;
}

.figures{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

    .figures .btn{
        padding: 0;
    }

    .figures .figure-img{
        margin-bottom: 0;
    }

    .figures .figure-caption{
        text-align: left;
        color: black;
    }

footer {
}

    footer p{
        margin: 0;
        text-align: center;
        font-size: small;
    }

    footer a, footer a:hover, footer a:focus{
        color: black;
        text-decoration: none;
    }

.lastmodified{
    font-size: x-small;
    margin-left: 1%;
}