@page "/about"

<h1>About Us</h1>

<div class="jumbotron">
    <strong>Financing</strong>
    <hr />
    <p>We do in-house financing with no interest. For this reason, we will not go down on the price of a vehicle to be financed.</p>
    <p>We do not deal with credit scores.</p>
    <p>We ask for 1/2 of the vehicle's price as a down payment, and $300 as monthly payments.</p>
</div>
<div class="jumbotron">
    <strong>Towing</strong>
    <hr />
    <p>We run a towing service known as Lopez Towing</p>
    <p>Call to find our rates to you.</p>
    <p><a href="tel:6207570372">(620)757-0372</a></p>
</div>
<div class="jumbotron">
    <strong>Auto Repair</strong>
    <hr />
    <p>Our vehicles are inspected and maintained by the owner, an experienced car mechanic, at Lopez Auto Repair.</p>
    <p>Our standard warranty is 20% on engine and transmission for 30 days or 1000 miles.</p>
</div>
<div class="jumbotron">
    <strong>Test Drives</strong>
    <hr />
    <p>We allow test drives for a maximum of 30 minutes.</p>
    <p>We advise our customers to test drive and take the vehicle to their own trusted mechanics before purchasing.</p>
</div>
<div class="jumbotron">
    <strong>Buying a Vehicle</strong>
    <hr />
    <p>If you're interested in buying a vehicle, you will need a driver's license, proof of insurance, and the $$$.</p>
    <p>We also offer 60-day tags for $10.</p>
</div>