@page "/contact"

<h1>Contact Info</h1>

<div class="jumbotron ml-auto mr-auto">
    <h3>Lopez Auto Sales</h3>
    <hr />
    <p>Phone: <a href="tel:6202086250">(620)208-6250</a></p>
    <p>Email: <a href="mailto:lopezautosales@outlook.com">lopezautosales@outlook.com</a></p>
    <p>Google Business Page: <a href="https://goo.gl/maps/hHPXpTLZfi7jtrpKA" target="_blank" rel="noopener noreferrer">Click Here</a></p>
    <br />
    <p>We have google business messaging enabled for convenience and are quick to reply (&lt;1 hour).</p>
    <p>We try to reply as quickly as possible for any of the provided contact methods.</p>
    <br />
    <p>We'd appreciate if you would take some time to write a review or leave some feedback about our business.</p>
</div>
<div class="resizable ml-auto mr-auto">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6253.232203458573!2d-96.20214562370916!3d38.40412456859883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b94e781bbffbe7%3A0xd3590d9ae4f13aac!2sLopez+Auto+Sales!5e0!3m2!1sen!2sus!4v1560835977693!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>