@page "/"
@inject HttpClient  Http;

<h1>Inventory</h1>

<div class="grid">
    <div class="figures">
        @if (Cars != null)
        {
            @foreach (Car car in Cars)
            {
                <figure class="figure">
                    <img src="@car.Path" height="200" width="200" class="figure-img img-fluid rounded" />
                    <figcaption class="figure-caption">@car.Name</figcaption>
                </figure>
            }
        }
    </div>
</div>


@functions {
    //Cars folder in wwroot should have all Car Image files
    //Cars/Data folder should contain json containing image path and data
    Car[] Cars;

    protected override async Task OnInitAsync()
    {
        Cars = await Http.GetJsonAsync<Car[]>("./Data/cars.json");
        StateHasChanged();
    }


    //TODO: FIX JSON CAMEL CASE & NO HEADER, TITLE CASE JSON, IF FILE EXISTS
}
