@page "/"
@inject HttpClient  Http;

<h1>Inventory</h1>

@if (Cars != null)
{
<div class="figures">
    @foreach (Car car in Cars)
    {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <figure class="figure">
            <img src="@car.Path" height="200" width="200" class="figure-img img-fluid rounded" />
            <figcaption class="figure-caption">@car.Name</figcaption>
        </figure>
    </div>
    }
</div>
}

@functions {
    //Cars folder in wwroot should have all Car Image files
    //Cars/Data folder should contain json containing image path and data
    Car[] Cars;

    protected override async Task OnInitAsync()
    {
        Cars = await Http.GetJsonAsync<Car[]>("./Data/cars.json");
        StateHasChanged();
    }


    //TODO: FIX JSON CAMEL CASE & NO HEADER, TITLE CASE JSON, IF FILE EXISTS
}
