<footer>
    <hr />
    <p>Lopez Auto Sales</p>
    <a href="https://goo.gl/maps/YZoFvQTUptU8cASW8" target="_blank" rel="noopener noreferrer">
        <p>515 Albert St</p>
        <p>Emporia, KS, 66801</p>
    </a>
    <a href="tel:6202086250">
        <p>(620)208-6250</p>
    </a>
    <a href="mailto:lopezautosales@outlook.com">
        <p>lopezautosales@outlook.com</p>
    </a>
    <div class="lastmodified">
        Last Modified Date: @Date.ToString("MM/dd/yyyy")
    </div>
</footer>

@functions {
    [Parameter]
    public DateTime Date { get; set; }
}