@inherits LayoutComponentBase
@inject HttpClient  Http

<NavMenu />
@if (json != null)
{
    <CascadingValue Value="@CarManager">
        <div class="content">
            @Body
        </div>
    </CascadingValue>
    <InfoFooter date="@json.Date" />
}


@functions {
    private JSONFile json = null;
    private CarManager CarManager = null;

    protected override async Task OnInitializedAsync()
    {
        json = await Http.GetJsonAsync<JSONFile>(Constants.JsonPath);
        CarManager = new CarManager(json.Cars);
        StateHasChanged();
    }
}
