@inherits LayoutComponentBase
@inject HttpClient  Http

<NavMenu />
@if (json != null)
{
    <CascadingValue Value="this">
        <CascadingValue Value="@json.Cars">
            <div class="content">
                @Body
            </div>
        </CascadingValue>
    </CascadingValue>
    <InfoFooter date="@json.Date" />
}


@functions {
    private JSONFile json = null;
    internal SortMethod SortedMethod;

    protected override async Task OnInitAsync()
    {
        json = await Http.GetJsonAsync<JSONFile>(Constants.JsonPath);
        SortCars(SortMethod.HighestPrice);
    }

    internal void SortCars(SortMethod method)
    {
        SortedMethod = method;
        switch (method)
        {
            case SortMethod.HighestPrice:
                json.Cars = json.Cars.OrderByDescending(car => car.Price).ToArray();
                break;
            case SortMethod.LowestPrice:
                json.Cars = json.Cars.OrderBy(car => car.Price).ToArray();
                break;
            case SortMethod.HighestMileage:
                json.Cars = json.Cars.OrderByDescending(car => car.Mileage).ToArray();
                break;
            case SortMethod.LowestMileage:
                json.Cars = json.Cars.OrderBy(car => car.Mileage).ToArray();
                break;

        }
        StateHasChanged();
    }
}
